.nova-analysis-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .nova-iframe {
        width: 100%;
        height: 100%;
        border: none;
        display: block;
    }
}
